node_modules/
.next/
.wrangler/
.orchestrate/
tsconfig.tsbuildinfo
.dev.vars
.env
.env.*
!.env.example
.DS_Store
/tmp-*

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
coverage/
.cache/
archive/
